<div class = "content">
  <div class ="banner">
    <div class = "overlay">
    </div>
      <h1>CHRISTOPHER HO</h1>
      <p>Engineering Student at the University of Waterloo</p>

      <%= link_to "Resume", asset_path("resume.pdf"), target: "_blank", class:'banner_btn' %>

      <div class="row_icons">
        <div class ="row_cell">
          <%= link_to (render inline: (render file: Rails.root.join('app', 'assets', 'images', 'user.svg'), class: 'svg')), about_index_path %>

          <p>About Me</p>
        </div>

        <div class ="row_cell">
          <%= link_to (render inline: (render file: Rails.root.join('app', 'assets', 'images', 'code.svg'), class: 'svg')), projects_path %>
          <p>Recent Projects</p>
        </div>

        <div class ="row_cell">
                  <%= link_to (render inline: (render file: Rails.root.join('app', 'assets', 'images', 'keyboard.svg'), class: 'svg')), posts_path %>
          <p>Blog</p>
        </div>

      </div>
  </div>
</div>

<!--ABOUT SECTION -->

<!--
<div class = "about">
  <div class="wrapper wrapper_padding clearfix">
      <div class="col-1 homepage_content">
        <h2>About</h2>
        <hr>
        <p>My name is Christopher Ho and I am currently a 2B Mechnical Engineering student at the University of Waterloo.</p>
        <p>Like many of my fellow engineering colleagues, I have a passion for creating something new, innovative and unique. My first programming language I learned was during my first year which was an introduction to programming course using C#. Since then, I have developed a passion for programming and taken the initiative to developing my own iOS and web applicaitons. I hope to one day gain practical experience in the application development work field.</p>
        <p>My hobbies consist of basketball, travelling and being a fitness enthusiast. In addition, I am addicted to poker. If you ever need an extra player at your table, send me a message!</p>
      </div>

    <div class="col-2 homepage_content">
      <div class = "portrait-photo">
        <%= image_tag("portrait.jpg", :alt => "rss feed", :class=> "img-circular") %>
      </div>
    </div>

  </div>
</div>-->

  <!--
  <div class="wrapper homepage_content">
    <h2>Projects</h2>
    <hr>

    <% @projects.each do |project| %>
    <div class = "project">
      <%= link_to image_tag(project.image.url(:medium)) , project%>
        <div class = "overlay">
          <h3><a href="#"><%= link_to project.title, project %></a></h3>
          <p class="date"><%= project.created_at.strftime("%A, %b %d")%></p>
        </div>
      </div>
    <% end %>
  </div>-->

<!-- BLOG SHIT

<div class ="wrapper wrapper_padding clearfix ">

  <div class="col-2 blog homepage_content">
    <h2>Blog Posts</h2>
    <hr>


    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d")%></p>
    <% end %>
  </div>

-->

<!-- PROJECTS SHIT
  <div class="col-1 wrapper wrapper_padding homepage_content projects">
    <h2>Recent Projects</h2>
    <hr style>
    <div class="post_container">
        <% @projects.each do |project| %>

        <article class="card">
        <header class="card__thumb">
          <a href="#">
            <%= link_to image_tag(project.image.url(:icon)), project%>
          </a>
        </header>
        <div class="card__date">
          <%= link_to project do %><span class="fa fa-angle-right fa-2x"></span><% end %>
        </div>
        <div class="card__body">
          <h2 class="card__title"><a href="#"><%= link_to project.title, project %></a></h2>
          <p class="card__description">
            With a warning label this big, you know they gotta be fun! This is the worst part. The calm before the battle. No! The cat shelter's on to me. Yes, I saw. You were doing well, until everyone died. Daylight and everything.
          </p>
        </div>
      </article>

        <% end %>
    </div>
  </div>
</div>-->
